.header{
	.modal-container-title {
		text-align: center;
		margin-top: 50px;
		font-style: arial;
		color: #ab346d;
	}	
}

p {
	font-style: arial;
	color: #ab346d;
	font-size: medium;
}

.modal-divison {
	position: absolute;
	z-index: 15;
	top: 25%;
	left: 45%;
	margin: -100px 0 0 -150px;
    background-color: #c8e3d3;
	h1 {
		font-style: arial;
		color: #ab346d;
		font-size: x-large;
	}
}

.modal-container-title {
	text-align: center;
	margin-top: 50px;
}

.modal-container-body {
	padding: 24px 32px 51px;
	overflow-y: auto;
}

.rtf {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-style: arial;
		color: #ab346d;
		font-size: larger;
		/* font-weight: 700; */
		text-align: center;
	}

	h1 {
		font-size: 1.5rem;
		line-height: 1.125;
		text-align: center;
	}

	h2 {
		/* font-size: 1.25rem; */
		line-height: 1.25;
		text-align: center;
	}

	h3 {
		font-size: 1rem;
		line-height: 1.5;
		text-align: center;
	}

	&>*+* {
		margin-top: 1em;
		text-align: center;

	}

	&>*+ :is(h1, h2, h3) {
		margin-top: 2em;
		text-align: center;
	}

	&> :is(h1, h2, h3)+* {
		margin-top: 0.75em;
		text-align: center;
	}

	ul,
	ol {
		margin-left: 20px;
		/* list-style-position: inside; */
		text-align: center;
	}

	ol {
		/* list-style: numeric; */
		text-align: center;
	}

	ul {
		/* list-style: disc; */
		text-align: center;
	}
}

.modal-container-footer {
	padding: 20px 32px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid #ddd;
	gap: 12px;
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -51px;
		left: 24px;
		right: 24px;
		height: 50px;
		flex-shrink: 0;
		background-image: linear-gradient(to top, rgba(#fff, 0.75), transparent);
		pointer-events: none;
	}
}

.button {
	padding: 12px 20px;
	border-radius: 8px;
	background-color: transparent;
	border: 0;
	font-weight: 600;
	cursor: pointer;
	transition: 0.15s ease;

	&.is-ghost {

		&:hover,
		&:focus {
			background-color: #dfdad7;
		}
	}

	&.is-primary {
		background-color: #750550;
		color: #fff;

		&:hover,
		&:focus {
			background-color: #4a0433;
		}
	}
}

.icon-button {
	padding: 0;
	border: 0;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	cursor: pointer;
	border-radius: 8px;
	transition: 0.15s ease;

	svg {
		width: 24px;
		height: 24px;
	}

	&:hover,
	&:focus {
		background-color: #dfdad7;
	}
}